@using Microsoft.Extensions.Configuration

@* @{ *@
@* *@
@*   ViewData["Title"] = "Home"; *@
@* } *@

@inject BookStore.Repository.IBookRepository _bookRepository
@inject BookStore.Repository.ILanguageRepository _languageRepository
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@{
  var book = ViewData["Book"] as BookModel;
}
 @section breadcrumb
  {
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home - @ViewBag.Title</a></li>
        <br/> @ViewData["CustomProperty"]
        <br/> @book?.Title
        <br/> @book?.Author
        @if (_configuration.GetValue<bool>("myfield:booleanField"))
        {
          <br/>
          @(_configuration.GetValue<string>("myfield:test"))
          @(_configuration.GetSection("myfield").GetValue<string>("booleanField"))
          
        }
      </ol>
    </nav>
  }
<section class=" py-5 text-center container">
 
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      @foreach (var item in await _bookRepository.GetAllBooks())
      {
        <h2>@item.Title </h2>
      }
      @foreach (var item in await _languageRepository.GetLanguages())
            {
              <h2>@item.Name </h2>
            }
      <environment names="Development">
        <h5>In dev</h5>
      </environment>
      <environment names="Production">
        <h5>In Prod</h5>
      </environment>
      <h1 class="fw-light">Book store</h1>
      <big>Big books</big>
      <p big> P Big books</p>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Search books</a>
      </p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      @* @await Component.InvokeAsync("TopBooks", new { count = 1}) *@
      <vc:top-books count="1"></vc:top-books>
          
    </div>
    @* <div class="row"> *@
    @*   @await Component.InvokeAsync("TopBooks") *@
    @*   <vc:top-books></vc:top-books> *@
    @*   <h1>Top books</h1> *@
    @*   <div class="col-md-4"> *@
    @*     $1$ <partial name="_bookThumbnail" model="new BookModel()"/> #1# *@
    @*     @Html.Partial("_bookThumbnail", new BookModel()) *@
    @*   </div> *@
    @*   <div class="col-md-4"> *@
    @*     <partial name="_bookThumbnail" model="new BookModel()"/> *@
    @*   </div> *@
    @*   <div class="col-md-4"> *@
    @*     @{ await Html.RenderPartialAsync("_bookThumbnail", new BookModel()); } *@
    @*   </div> *@
    @* </div> *@
  </div>
</div>

@section scripts
{
  <script>
   $(document).ready(function () {
     console.log("document is ready")
   })
  </script>
}

